In [ ]:
text = 'hell world'

In [2]:
# [start:end:step]
text [6:]

NameError: name 'text' is not defined

In [8]:
text_2 = "My name is Paulius, I live in Vilnius vilnius"

In [13]:
print (text_2.upper())
print (text_2.lower())
print (text_2.capitalize())
print (text_2.count('Vilnius'))
print (text_2.lower().count('vilnius'))
print (text_2.find('Paulius'))

MY NAME IS PAULIUS, I LIVE IN VILNIUS VILNIUS
my name is paulius, i live in vilnius vilnius
My name is paulius, i live in vilnius vilnius
1
2
11

In [17]:
quoted_text = 'hello'
quoted_text = "hello, i can't come" # kabute ' galim palikt, bet reikes uzbaigti komanda su " ", kitu atveju iterpaim / tarp can/'t, taip dar paprasciau yra iterpti """" ..... """"
 print (quoted_text)

hello, i can't come

In [1]:
name = "Paulius"
lastname = 'Bulota'

print(name, lastname)

Paulius Bulota

In [ ]:
#SKAICIAI

In [4]:
number = 11564
print (type (number))
float_number = 156.49
print (type (float_number))

<class 'int'>
<class 'float'>

In [8]:
suma = 184 + 24.48
print (type(suma) )
print ( 79 - 4 )
print ( 79 * 4 )

print ( 79 / 4 )
print ( 8 / 4 )
# print (type(''))
print ( 9 / 4 )
print ( 9 // 4 ) # sveika dalis
print ( 9 % 4 ) # 
print ( 11 % 7) 
print ( 13 % 2)

print ( 2 ** 2 ) # kelimas laipsniu
print ( 2 ** 3 )
print ( 2 ** 4 )

<class 'float'>
75
316
19.75
2.0
2.25
2
1
4
1
4
8
16

#BOOLEAN DEKLARACIJA

In [15]:
print (25>10 and 49 < 100)
print (25>10 and 49 < 10)
print (25>10 or 49 < 10)

True
False
True

In [12]:
print ('zodis' in 'zodis ne zvirblis')
print (169 > 56)
print (True == 1)

True
True
True

True