In [9]:
text = 'Hello world'

In [10]:
text[2]

'l'

In [11]:
# [start:end:step]
text[6:]

'world'

In [12]:
text_2 = "My name is Darius, I live in Vilnius Vilnius vilnius"

In [13]:
print (text_2.upper() )
print (text_2.lower() )
print (text_2.capitalize() )
print (text_2.count('Vilnius') )
print (text_2.lower().count('vilnius') )
print (text_2.find('Darius') )
print (text_2[text_2.find('Darius'):]  )

MY NAME IS DARIUS, I LIVE IN VILNIUS VILNIUS VILNIUS
my name is darius, i live in vilnius vilnius vilnius
My name is darius, i live in vilnius vilnius vilnius
2
3
11
Darius, I live in Vilnius Vilnius vilnius

In [14]:
"My name is Darius, I live in  Vilnius Vilnius Darius Darius vilnius".find('Darius')

11

In [15]:
print (text_2.isdigit() )
print ('2'.isdigit() )
print ('2 '.isdigit() )

False
True
False

In [16]:
# perrasyti reiksme
text_2 = text_2.lower()

In [17]:
"My name is Darius, I live in  Vilnius 49489 Vilnius Darius Darius vilnius".find('89')

41

In [18]:
"My name is Darius, I live in  Vilnius 49489 Vilnius Darius Darius vilnius"[41:43]

'89'

In [19]:
quoted_text = 'hello'
# quoted_text = 'hello, I can't come' # Neveiks
quoted_text = "hello, I can't come"
print (quoted_text)
quoted_text = 'hello, I can\'t come'
print (quoted_text)
# quoted_text = "company "Tesla" just sold bla bla" # neveiks
quoted_text = 'company "Tesla" just sold bla bla'
print (quoted_text)
quoted_text = "company \"Tesla\" just sold bla bla"
print (quoted_text)
quoted_text = """company "Tesla" just sold bla ' ' asdf'  bla """
print (quoted_text)

# multiline_text = "Line one
# line two" # EOL error - End Of Line 
multiline_text = """Line one
line two


This is another line 

The end
"""
print (multiline_text)

hello, I can't come
hello, I can't come
company "Tesla" just sold bla bla
company "Tesla" just sold bla bla
company "Tesla" just sold bla ' ' asdf'  bla
Line one
line two


This is another line

The end

In [20]:
print(text , text_2)
print( 'Darius' + " Grigaliunas")

Hello world my name is darius, i live in vilnius vilnius vilnius
Darius Grigaliunas

In [21]:
name = 'Darius'
surname = "Grigaliunas"
# neformatuotas tekstas
print('Mano vardas', name + ',', 'o pavarde', surname) 
# formatuotas tekstas
print(f'Mano vardas {name}, o pavarde { surname } ')

Mano vardas Darius, o pavarde Grigaliunas
Mano vardas Darius, o pavarde Grigaliunas

In [22]:
text = 'Python makes me really happy to'
print( text.upper() )
print( text.replace( 't', 'T' ).replace('o', 'O') )
print( text.replace( 'Python', 'PyThOn' ) )

PYTHON MAKES ME REALLY HAPPY TO
PyThOn makes me really happy TO
PyThOn makes me really happy to

In [23]:
text_2 = 'Hello World, I am happy to learn Python!'
word_to_find = 'learn'
print (text_2[18:23] )
# text_2.find('happy')
# len('happy')
print ( text_2[ text_2.find(word_to_find) : text_2.find(word_to_find) + len(word_to_find) ] )
# atspaudi 'to'
print ( text_2[24:26] )
# simboliu kiekis
print ( len(text_2) )

happy
learn
to
40

In [24]:
text_5 = "Hello World, I am happy to learn Python!"
# text[start:end:step]
print( text_5[text_5.find("happy") : text_5.find("happy") + len("happy") ] )

happy

# Numbers

In [25]:
number = 11654
print ( type(number) )
float_number = 156.49
print ( type(float_number) )

<class 'int'>
<class 'float'>

In [26]:
suma = 184 + 24.48
print (type(suma) )
print ( 79 - 4 )
print ( 79 * 4 )

print ( 79 / 4 )
print ( 8 / 4 )
# print (type(''))
print ( 9 / 4 )
print ( 9 // 4 ) # sveika dalis
print ( 9 % 4 ) # 
print ( 11 % 7) 
print ( 13 % 2)

<class 'float'>
75
316
19.75
2.0
2.25
2
1
4
1

In [27]:
print ( 2 ** 2 ) # kelimas laipsniu
print ( 2 ** 3 )
print ( 2 ** 4 )

4
8
16

In [28]:
number=1234532
print(type(number))
float_number= 123.44
print ( type(float_number) )

<class 'int'>
<class 'float'>

In [29]:
int_1 = 5
int_2 = 10

print (int_1 + int_2)
print (int_1 - int_2)
print (int_1 * int_2)
print (int_1 / int_2)
print (int_1 % int_2)

15
-5
50
0.5
5

In [30]:
float_1 = 5.5
float_2 = 10.15

print (float_1 + float_2)
print (float_1 - float_2)
print (float_1 * float_2)
print (float_1 / float_2)
print (float_1 % float_2)

15.65
-4.65
55.825
0.541871921182266
5.5

In [31]:
int_1=5
int_2=10

print (int_1+ int_2)
print (int_1- int_2)
print (int_1* int_2)
print (int_1 * int_2)
print (int_1 / int_2)
print (int_1 % int_2)

15
-5
50
50
0.5
5

In [32]:
dist_sun = 150000000
dist_moon = 384000
speed_per_hour = 150

day = speed_per_hour*24
month = day*31
year = day*365
minute = speed_per_hour/60
second = minute/60


print(f'Atstumas iki saules yra {dist_sun / dist_moon} kartu didesnis nei atstumas iki menulio ')

# valandų skaičius iki mėnulio:
print(dist_moon/speed_per_hour)

#kiek menesiu iki mėnulio:
print(dist_moon/month)

#kiek metų iki mėnulio:
print(dist_moon/year)

# kiek sekundžių:
print(dist_moon/second)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
2560.0
3.4408602150537635
0.2922374429223744
9216000.0

In [33]:
from datetime import datetime, timedelta

birthday = datetime(1998, 4, 16)
now = datetime.now()
time_passed = now - birthday
print (time_passed.days)
print (time_passed.total_seconds())
print (time_passed)

8678
749846135.705096
8678 days, 18:35:35.705096

In [34]:
text = ' hello world'
true_1 = 'world' in text
print (true_1)

True

In [35]:
print (2 > 5 )
print (2 < 5 )
print (5 > 5 )
print (5 >= 5 )
print (5 == 5 )
print (8 == 5 )
# = priskiria reiksme
# == palygina ar lygus
print (8 != 5 ) # tikrina ar nelygu

False
True
False
True
True
False
True

In [36]:
bool_1 = True
print (bool_1)
print (type(bool_1))
print ( 1 == True)
print ( 0.999 == True)
print ( 0 == False)
print ( 0.00001 == False)

True
<class 'bool'>
True
False
True
False

In [37]:
print (bool(16549816489) )
print (bool(0.5) )
print (bool(1) )
print (bool(0) )
print (bool(0.0) )

True
True
True
False
False

In [38]:
print (bool('Darius') ) 
print (bool(' ') )
print (bool('') )

True
True
False

In [39]:
user_name = input('Iveskite varda')
if user_name:
    print (f'Tavo vardas {user_name}')
else:
    print (f'Neirasete vardo')

Tavo vardas dar

In [40]:
false_bool = False
print (false_bool)

False

In [41]:
a = bool('')
print (a)

False

### Jeigu kintamasis tuscias, tai bus False, visais kitais atvejais bus True

In [42]:
print ( 'zodis' in 'zodis ne zvirblis' )
print ( 169 > 56 )
print ( True == 1 )
print ( not False  )
print ( bool('kazkas') )

True
True
True
True
True

In [43]:
print (25 > 10 and 49 < 100 )
print (25 > 10 and 49 < 10  )
print (25 > 10 or 49 < 100  )
print (25 > 10 or 49 < 10  )
print (25 > 100 or 49 < 10 )

True
False
True
True
False

In [44]:
print ( 'Zodis' in 'zodis ne zvirblis' )
print ( 169 < 56 )
print ( True != 1 )
print ( not True  )
print ( bool('') )

False
False
False
False
False

In [45]:
'Zodis' in 'zodis ne zvirblis' and ( True and False ) or bool(1)
# False and ( False ) or True
# False or True
# True

True

In [46]:
tekstas_1 = 'Hello world'

In [47]:
tekstas_1 = "bye" # perraso

In [48]:
tekstas_1

'bye'

In [49]:
# smulkmena, bet praeitą kartą iš float1 atimant float2, gavosi kitoks skaičius (šiek tiek) negu matematiškai
float1=2.2
float2=3.3
print(float1-float2)

-1.0999999999999996

In [52]:
print(round(2.5) )
print(round(3.5) )
print(round(4.5) )

2
4
4