## If salyga

In [4]:
x = 5
if x > 2: 
    print('x yra daugiau uz 2')

x yra daugiau uz 2

In [3]:
x = 2
if x > 2: 
    print('x yra daugiau uz 2')

In [8]:
vardas = "Darius"
# vardas = "Jonas"
if vardas == "Jonas":
    print ("Sveikas, Jonai!")
else:
    print ("Sveikas, kas tu toks?")
print('if pabaiga')

Sveikas, kas tu toks?
if pabaiga

In [10]:
x = 12
if x < 6:
    print ('x < 6')
else:
    x /=  3

print (x)

4.0

In [14]:
antkainiai = [ 0.5, 0.2, 0.4, 0.05]

for idx, antkainis in enumerate(antkainiai):
    print(idx, antkainis)
    if antkainis > 0.45:
        antkainiai[idx] = antkainis * 0.8
    elif antkainis < 0.1:
        antkainiai[idx] = antkainis * 2.
    elif antkainis < 0.25:
        antkainiai[idx] = antkainis * 1.2

print (antkainiai)

0 0.5
1 0.2
2 0.4
3 0.05
[0.4, 0.24, 0.4, 0.06]

In [ ]:
# = - reiksmes priskirimas
# == - reiksmiu palyginimas

In [15]:
my_bool = False
if my_bool = True: # error
if my_bool == True:
    print ('it is true')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1239244863.py, line 2)

In [22]:
y = 15
# y = 5
x = 50
if y > 10 and x < 20 :
    print ('y > 10 ir x < 20')
elif y > 10 and x >= 20 :
    print ('y > 10 ir x >= 20')
else:
    print ('neatitinka salygu')

if y > 10:
    if x < 20: 
        print ('y > 10 ir x < 20')
    elif x >= 20:
        print ('y > 10 ir x >= 20')
else:
    print ('neatitinka salygu')

y > 10 ir x >= 20
y > 10 ir x >= 20

In [26]:
for number in range(21):
    # print (f'skaiciaus {number} dalyba: {number % 3}')
    # if (number % 3 == 0 ):
    if number % 3 == 0:
        print(number)

0
3
6
9
12
15
18

In [27]:
suma = 0
for number in range(1, 51):
    if (number + suma) % 2 == 0:
        suma += number
        print (suma)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

In [33]:
number = input('iveskite skaiciu:')
print (type(number))
number = int(number)
if (number ** 2) % 2 != 0:
    for num in range(1,11):
        print (num * number)
else:
    print ('Skaicius pakeltas kvadratu yra lyginis')

<class 'str'>
Skaicius pakeltas kvadratu yra lyginis

In [34]:
sum([1,5,3])

9

In [38]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []
tinkamos_dienos = ['Pirmadienis', 'Treciadienis']
for diena in dienos:
    # if diena == 'Pirmadienis' or diena == 'Treciadienis':
    if diena in tinkamos_dienos:
        for valanda in valandos:
            # print(diena, valanda)
            if valanda in range(12, 18):
                kombinacijos.append( (diena, valanda) )

print( kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

In [39]:
niekas = None

In [40]:
print( type(niekas))

<class 'NoneType'>

In [44]:

name = None
# name = ""
for i in range(5):
    if name == None:
        print(f"variable 'name' has no value (None), assigning name")
        value = input("Enter your name:")
        if value:
            name = value
    else:
        print(f"variable 'name' has value of {name}")

variable 'name' has no value (None), assigning name
variable 'name' has no value (None), assigning name
variable 'name' has value of Darius
variable 'name' has value of Darius
variable 'name' has value of Darius

In [46]:
print(f"variable 'name' has value of {2 + 5 }")
print("variable 'name' has value of {2 + 5 }")

variable 'name' has value of 7
variable 'name' has value of {2 + 5 }

## List comprehension

In [58]:
numbers = list(range(1,21) )
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
        # print(number)
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [52]:
dividible_by_3 = [ number for number in numbers if number % 3 == 0 ]
print (dividible_by_3)

[0, 3, 6, 9, 12, 15, 18]

In [54]:
dividible_by_3 = [ 5 * number for number in numbers if number % 3 == 0 ]
print (dividible_by_3)

[0, 15, 30, 45, 60, 75, 90]

In [57]:
print (list(range(1,21) ))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [59]:
dividible_by_3 = [ number if number % 3 == 0 else 100 for number in numbers ]
print (dividible_by_3)

[100, 100, 3, 100, 100, 6, 100, 100, 9, 100, 100, 12, 100, 100, 15, 100, 100, 18, 100, 100]

In [64]:
x_axis = [1,2,3,4]
y_axis = (5,4,8,3)
mult = [ x*y for x in x_axis for y in y_axis ]
print(mult)

[5, 4, 8, 3, 10, 8, 16, 6, 15, 12, 24, 9, 20, 16, 32, 12]

In [66]:
text_a = 'labas'
text_b = "python"
new = [ x + y for x in text_a for y in text_b ]
print(new)

['lp', 'ly', 'lt', 'lh', 'lo', 'ln', 'ap', 'ay', 'at', 'ah', 'ao', 'an', 'bp', 'by', 'bt', 'bh', 'bo', 'bn', 'ap', 'ay', 'at', 'ah', 'ao', 'an', 'sp', 'sy', 'st', 'sh', 'so', 'sn']

## Dict

In [71]:
my_dict = {
    'name' : "Darius",
    'surname': 'Grigaliunas',
    'age': 26,
    'hobbies': ['tennis', 'videogames']
}

In [72]:
my_dict[0]

KeyError: 0

In [73]:
print (my_dict['name'])

Darius

In [74]:
print(len(my_dict) )

4

### DICTIONARY IS MUTABLE. BE CAREFULL

In [ ]:
# my_dict.copy()

In [85]:
my_dict = {
    'name' : "Darius",
    'surname': 'Grigaliunas',
    'age': 26,
    'hobbies': ['tennis', 'videogames']
}
print (my_dict.pop('age') )
print (my_dict.popitem() )

26
('hobbies', ['tennis', 'videogames'])

In [89]:
my_dict = {
    'name' : "Darius",
    'surname': 'Grigaliunas',
    'age': 26,
    'hobbies': ['tennis', 'videogames']
}
print (my_dict.setdefault('city', 'Vilnius') )

print(my_dict)
print (my_dict.setdefault('city', 'Kaunas') )
print(my_dict)
# my_dict['city']

Vilnius
{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 26, 'hobbies': ['tennis', 'videogames'], 'city': 'Vilnius'}
Vilnius
{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 26, 'hobbies': ['tennis', 'videogames'], 'city': 'Vilnius'}

In [93]:
print (my_dict.get('email') )  # no error if doesnt exist

None

In [94]:
print (my_dict['email'] ) # error

KeyError: 'email'

In [95]:
for key in my_dict.keys():
    print (key)

name
surname
age
hobbies
city

In [96]:
for value in my_dict.values():
    print (value)

Darius
Grigaliunas
26
['tennis', 'videogames']
Vilnius

In [98]:
for k, v in my_dict.items(): # k - key, v - value
    print (f"{k} value is {v}")

name value is Darius
surname value is Grigaliunas
age value is 26
hobbies value is ['tennis', 'videogames']
city value is Vilnius

In [110]:
dict_1 = {
    1 : 'uno',
    2 : 'dos',
    5 : 'finco',
    False : 'Falseee',
    (1,2): 'one and two'
}

In [112]:
print(dict_1[1] )
print (dict_1[False])
print (dict_1[ (1,2) ])

uno
Falseee
one and two

In [114]:
user = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "source": '',
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  }
}

In [116]:
user['user']['friends_count']

125

In [117]:
dict_2 = {
    'name': "kazkas",
    'name': 'Darius'
}
print (dict_2)

{'name': 'Darius'}

In [118]:
my_dict

{'name': 'Darius',
 'surname': 'Grigaliunas',
 'age': 26,
 'hobbies': ['tennis', 'videogames'],
 'city': 'Vilnius'}

In [120]:
my_dict['age'] = 25
print( my_dict)

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 25, 'hobbies': ['tennis', 'videogames'], 'city': 'Vilnius'}

In [121]:
my_dict.update( {'age': 26, 'city': 'Kaunas', 'car': 'Tesla'})

In [122]:
print(my_dict)

{'name': 'Darius', 'surname': 'Grigaliunas', 'age': 26, 'hobbies': ['tennis', 'videogames'], 'city': 'Kaunas', 'car': 'Tesla'}

In [123]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [126]:
print(car["brand"])
print(len(car))
car['year'] = 2020
print (car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [127]:
car.update( {'color':'red','used':True} )
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red', 'used': True}

In [128]:
car.pop('brand')
car['year'] = None 
print (car)

{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

In [129]:
del car['used']
print(car)

{'model': 'Mustang', 'year': None, 'color': 'red'}

## Set

In [141]:
my_set = { 1, 85, 3, 6, 6, 6, 6, 9 }
print(my_set)

{1, 3, 85, 6, 9}

In [142]:
print(len(my_set) )

5

In [143]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [144]:
my_set.add(12)
print(my_set)
my_set.update( [4,48,64,128] )
print (my_set)

{1, 3, 85, 6, 9, 12}
{64, 1, 128, 3, 4, 6, 9, 12, 85, 48}

In [145]:
my_set.remove(100) # no error

KeyError: 100

In [146]:
my_set.discard(100) # no error

In [148]:
print(my_set)
my_set_2 = {4, 5 ,10 ,12}
print (my_set_2)

{64, 1, 128, 3, 4, 6, 9, 12, 85, 48}
{10, 5, 12, 4}

In [149]:
my_set.difference(my_set_2)

{1, 3, 6, 9, 48, 64, 85, 128}

In [150]:
my_set.intersection(my_set_2)

{4, 12}

In [151]:
my_set.union(my_set_2)

{1, 3, 4, 5, 6, 9, 10, 12, 48, 64, 85, 128}

In [152]:
64 in my_set

True

In [153]:
65 in my_set

False

In [155]:
fruits = {"apple", "banana", "cherry"}
fruits.add( ('nauja_reiksme', 5) )
print(fruits)

{'banana', ('nauja_reiksme', 5), 'cherry', 'apple'}

In [163]:
fruits = {"apple", "banana", "cherry"}
fruits.discard('apple')
fruits.add('watermelon')
print (fruits)

{'banana', 'cherry', 'watermelon'}

In [160]:
fruits = {"apple", "banana", "cherry" }
fruits.add( ("watermelon", 5) )
print(fruits)

{('watermelon', 5), 'banana', 'cherry', 'apple'}

In [2]:
fruits = {"apple", "banana", "cherry"}
tmp_list = list(fruits)
tmp_list[0] = 'watermelon'
fruits = set(tmp_list)
print( fruits )

{'banana', 'watermelon', 'cherry'}