In [1]:
import pandas as pd
df = pd.read_csv('LT.csv')
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

In [2]:
# Sukurti naują stulpelį, kuriame būtų paskaičiuota įvarčiu suma

df['total_score'] = df['home_score'] + df['away_score']
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country,total_score
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2
...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3

In [3]:
# Sukurti naują stulpelį, kuriame būtų paskaičiuotas įvarčių skirtumas

df['diff_score'] = df['home_score'] - df['away_score']
df

,date,home_team,away_team,home_score,away_score,tourniment,city,country,total_score,diff_score
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,1,-1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,2,-2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2,2
...,...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,6,-4
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,3,-1

In [181]:
# Kiek rungtynių baigėsi lygiosiomis?

draw_score = df[ df[ 'diff_score' ] == 0 ]
print(len(draw_score))

73

In [179]:
# Kokiai šaliai pralošėme didžiausiu  ivarčių skirtumu, žaisdami namuose, kada tai įvyko, kokiame mieste vyko rungtynės?


df.sort_values(by='diff_score')
df_sorted[ df_sorted['home_team'] == 'Lithuania' ]
df.iloc[108]

date                             2000-10-11
home_team                         Lithuania
away_team                           Hungary
home_score                                1
away_score                                6
tourniment     FIFA World Cup qualification
city                                 Kaunas
country                           Lithuania
total_score                               7
diff_score                               -5
Name: 108, dtype: object

In [46]:
# Kiek rungtynių Lietuva pralaimėjo žaisdama Lietuvoje?

lost_home = df[ (df['home_team'] == 'Lithuania') & ( df['diff_score'] < 0) ]
print(len(lost_home))

68

In [12]:
# Kiek rungtynių Lietuviai sužaidė lygiosiomis namuose?

draw_home = df[ (df['home_team'] == 'Lithuania') & ( df['diff_score'] == 0) ]
print(len(draw_home))

31

In [13]:
# Kiek rungtynių Lietuviai sužaidė lygiosiomis išvykoje?

draw_away = df[ (df['away_team'] == 'Lithuania') & ( df['diff_score'] == 0) ]
print(len(draw_away))

42

In [44]:
# Kiek rungtynių Lietuva pralaimėjo žaisdama svetur?

lost_away = df[ (df['away_team'] == 'Lithuania') & ( df['diff_score'] > 0) ]
print(len(lost_away))

138

In [41]:
# Kiek rungtynių Lietuva laimėjo žaisdama svetur?

away_win = df[ (df['away_team'] == 'Lithuania') & ( df['diff_score'] < 0) ]
print(len(away_win))

39

In [35]:
# Kiek rungtynių Lietuva laimėjo žaisdama Lietuvoje?

home_win = df[ (df['home_team'] == 'Lithuania') & ( df['diff_score'] > 0) ]
print(len(home_win))

49